In [1]:
str1 = "write write write all all all all the number from from from from 1 to 100"

In [2]:
# Splitting the string in list of words
str_lst = str1.split(sep=" ")
str_lst

['write',
 'write',
 'write',
 'all',
 'all',
 'all',
 'all',
 'the',
 'number',
 'from',
 'from',
 'from',
 'from',
 '1',
 'to',
 '100']

In [3]:
# Saved unique words in a set
str_set = set(str_lst)
str_set

{'1', '100', 'all', 'from', 'number', 'the', 'to', 'write'}

In [4]:
# Unique words and their count of occurances is saved in Dictionary
count_dict = dict()
for s in str_set:
    count_dict[s] = str_lst.count(s)

In [5]:
# Converted dictionary into DataFrame to apply sort
import pandas as pd
ss = pd.Series(count_dict.keys())
sd = pd.Series(count_dict.values())
df = pd.DataFrame((ss,sd), index=["string","count"]).T

In [6]:
df

   string count
0      to     1
1    from     4
2  number     1
3     the     1
4       1     1
5     100     1
6     all     4
7   write     3

In [7]:
# Applied sort and selected words having highest frequency
df.sort_values(by="count", axis=0, ascending=False, inplace=True)
df=df[df["count"].max()==df["count"]].reset_index(drop=True)
df

  string count
0   from     4
1    all     4

In [8]:
# Prints the longest word with highest frequency
lst = 0
for i in df.string:
    if lst<len(i):
        lst=len(i)

print(lst)

4